<div class="d-flex justify-content-center bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <h3></h3>
        <table>
            <tr>
                <th>קוד</th>
                <th> שם פרטי</th>
                <th>שם משפחה</th>
                <th>כתובת</th>
            </tr>
          <tr *ngFor="let m of men" (click)="getChiled(m.ID)">
            <td>{{m.ID}}</td>
            <td>{{m.firstName}}</td>
            <td>{{m.lastname}}</td>
            <td>{{m.Address}}</td>
            <!-- <td>{{m.Children}}</td> -->

          </tr>
        </table>
      </div>
      <div class="p-2 bd-highlight" *ngIf="childFlag">
        <h3>ילדים</h3>
        <table>
            <tr>
                <th>קוד</th>
                <th> שם פרטי</th>
                <th>שם משפחה</th>
                <th>כתובת</th>
            </tr>
          <tr *ngFor="let c of child" >
            <td>{{c.ID}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastname}}</td>
            <td>{{c.Address}}</td>
            <!-- <td>{{m.Children}}</td> -->

          </tr>
        </table>
      </div>
      </div>    
