
<br> <br> <br>
  <div class="d-flex justify-content-center bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <h3>מרחבים</h3>
        <table>
            <tr>
                <th>קוד</th>
                <th>שם</th>
            </tr>
          <tr *ngFor="let m of data.merchavim" (click)="getEzorimByMerchav(m)">
            <td>{{m.code}}</td>
            <td>{{m.desc}}</td>
          </tr>
        </table>
      </div>
    <div class="p-2 bd-highlight">
        <h3>ישובים</h3>
        <table>
          <tr >
            <th>קוד </th>
            <th>שם </th>
          </tr>
          <tr *ngFor="let y of data.yeshuvim" (click)="selectY(y)">
              <td>{{y.code}}</td>
              <td>{{y.desc}}</td>
  
          </tr>
       
        </table>
    </div>
    <div class="p-2 bd-highlight" *ngIf="merchavflag">
        <h3>אזורים</h3>
        <table>
          <tr >
            <th>קוד </th>
            <th>שם </th>
          </tr>
          <tr *ngFor="let y of ezorim" (click)="selectE(y)">
              <td>{{y.code}}</td>
              <td>{{y.desc}}</td>

          </tr>
       
        </table>
    </div>
    <div class="p-2 bd-highlight">
        
<div class="card" *ngIf="select">
    <img src="../../assets/230.jpg" alt="John" style="width:100%">
    <!-- <h1>John Doe</h1> -->
    <strong>מרחב נבחר</strong>
    <p>{{merchav.desc}}</p>
    <strong>אזור נבחר</strong>
    <p>{{ezor.desc}}</p>
    <strong>ישוב נבחר</strong>
    <p>{{yeshuv.desc}}</p>
    <p><button type="button" class="btn btn-info" (click)="getRellavantPeople()">שליפת אנשי אזור </button></p>
  </div>
</div>
  </div>
